$bg-header: #21333e;
$bg-btn: #52babb;
$btn-dark-green: #098081;
$color-green: #048383;
$bg-news: #e7eee9;
$bg-service: #111117;
$font-color: white;
$bg-card-footer: #4e4f52;
$bg-opacity: #52b9bb60;
$bg-input: #f1f1f1;
$bg-input-dark: #2c2c2c;

// ---------------------STYLE--------------------------------------

//------------------FONT------------------------------------
.font_color {
  color: #52babb;
}
.font_color2 {
  color: $btn-dark-green;
}
.font_weight {
  font-weight: 700;
}
.font_weight1 {
  font-weight: 600;
}
.text_color {
  color: #bcbdbd;
}
//------------------/ FONT------------------------------------
//---------------- BG -----------------------------------------
.bg-opacity {
  background-color: #52b9bb60;
  padding: 0px 10px 0px 10px;
  color: #048383;
  border-radius: 5px;
}
.bg_btn {
  background-color: $color-green;
}
.bg-container {
  background-color: $bg-news;
}
.btn_hover {
  border-color: $color-green;
  color: white;
  &:hover {
    background-color: $color-green;
    color: white;
  }
}
.btn_hover1 {
  border-color: $color-green;
  color: $color-green;
  &:hover {
    background-color: $color-green;
    color: white;
  }
}
.dark-i {
  background-color: $bg-input-dark;
  border: none;
}
//----------------/ BG -----------------------------------------
.b-radius {
  border-radius: 10px;
}

.b-radius2 {
  border-radius: 50px;
}
.p_gioia {
  padding: 100px 0px 100px 0px;
}
span {
  background-color: $bg-opacity;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
}
